.recipe-form {
  text-align: center;
  border: 1px solid black;
  background-color: lightgrey;
}



.ingredient-to-add {
  border: 1px solid black;
  padding: 20px;
}


.recipe-card {
  border: 1px solid black;
  padding: 50px;
}
