.recipe-form {
  text-align: center;
  border: 1px solid black;
  background-color: lightgrey;
  padding: 20px;
}

.recipe-form-button-row {
  margin-top: 10px;
}

.ingredient-to-add {
  border: 1px solid black;
  padding: 20px;
  margin-top: 5px;
}

.ingredient-to-add-button {
  padding: 20px;
  margin-top: 5px;
}


.recipe-card {
  border: 1px solid black;
  padding: 30px;
}

.recipe-info-box {
  background-color: lightgrey;
  border-radius: 10px;
  padding: 30px;
}

.recipe-change-box {
  background-color: grey;
  border-radius: 10px;
  padding: 30px;
}

.modal-window {
  width: 60%;
  margin: auto;
  margin-top: 5%;
  background-color: white;
  padding: 35px;
}

.recipe-header-area {
  text-align: center;
  background-color: darkgrey;
  margin-bottom: 30px;
  padding: 20px;
}

.recipe-header-area h1 {
  color: #FFF;
  font-size: 100px;
  font-weight: bold;
}
